pipeline/PL_KHCDE_DSCR_WEEKLY_PROCESSING.json
{
	"name": "PL_KHCDE_DSCR_WEEKLY_PROCESSING",
	"properties": {
		"description": "This Pipeline would refresh the data for the Unified View",
		"activities": [
			{
				"name": "LU-Metadata",
				"description": "Lookup metadata sql server for dbt run to build all the models till feature engineering layer. Equivalent to `dbt run -m +feature_engineering`",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP-PipelineStart_Snowflake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from khc_orchestration_metadata where application_name = 'digital_supply_chain_responsiveness' and dataset_group='dscr_feature_engineering' and active_ind = 'y' and data_level='2'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_KHCDE_GENERIC_MSSQL_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EP-DBT_RUN_FEATURE_ENGINEERING",
				"description": "This is the Container activity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LU-Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_KHCDE_GENERIC_DBTProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ApplicationName": {
							"value": "@{activity('LU-Metadata').output.value[0].application_name}",
							"type": "Expression"
						},
						"DatasetGroup": {
							"value": "@{activity('LU-Metadata').output.value[0].dataset_group}",
							"type": "Expression"
						},
						"ParameterJson": {
							"value": "@{activity('LU-Metadata').output.value[0].parameter_json}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SP-PipelineStart_Snowflake",
				"description": "This is the Start Audit activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 6,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": {
								"value": "I",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{replace(pipeline().parameters.adf_trigger_name,'_trigger.txt','')}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Processing",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-DBT_RUN_FEATURE_ENGINEERING-FAIL",
				"description": "This is an audit activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EP-DBT_RUN_FEATURE_ENGINEERING",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "EP_DBT_Processing",
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].application_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].dataset_group",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-ActivityFailed02",
				"description": "This is an audit activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LU-Metadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "Metadata",
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].application_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].dataset_group",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LS_AZUREML_RECOVERY_THRESHOLDS",
				"description": "DS Module Execution",
				"type": "AzureMLExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set recovery thresholds AMLS variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.2:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"experimentName": "DSCR-RECOVERY-THRESHOLDS-001",
					"mlPipelineParameters": {
						"demand": "1",
						"supply": "1",
						"execution": "1",
						"merging": "1"
					},
					"mlPipelineEndpointId": {
						"value": "@variables('amls_recovery_thresholds_endpoint_id')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZUREML_DSCR",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SuccessEmailSender",
				"description": "email sent to user",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LS_AZUREML_RECOVERY_THRESHOLDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/bf557cd83c3b45c5a365826555b38597/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=eAMxSb-7pJGx_Ex0OGfry6YBV-RFaKUmU5ul75ISRtg",
					"method": "POST",
					"body": {
						"value": "{\n\"to_email\": \"USERUSERUSER@kraftheinz.com\",\n\"subject\": \" Rocket International Snowflake Data Load Process Successful\",\n\"body\": \"Snowflake data load process has been completed Successfully.\\n\\nThe pipelinename is @{pipeline().Pipeline}. \\n The pipelineid is @{pipeline().RunId}. \\n The Dataset name is @{activity('LU-Metadata').output.value[0].dataset_name}. \\n The application name is @{pipeline().parameters.ApplicationName}\",\n\"importance\": \"Low\",\n\"cc_email\":\"USERUSERUSER@KraftHeinz.com\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LU-Metadata_DBT_TEST_FEAT_ENG",
				"description": "Lookup metadata sql server for dbt run to build all the models till feature engineering layer. Equivalent to `dbt run -m +feature_engineering`",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "EP-DBT_RUN_FEATURE_ENGINEERING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from khc_orchestration_metadata where application_name = 'digital_supply_chain_responsiveness' and dataset_group='dscr_feature_testing' and active_ind = 'y' and data_level='2'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_KHCDE_GENERIC_MSSQL_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EP-DBT_TEST_FEATURE_ENGINEERING",
				"description": "This is the Container activity",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LU-Metadata_DBT_TEST_FEAT_ENG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_KHCDE_GENERIC_DBTProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ApplicationName": {
							"value": "@{activity('LU-Metadata').output.value[0].application_name}",
							"type": "Expression"
						},
						"DatasetGroup": {
							"value": "@{activity('LU-Metadata').output.value[0].dataset_group}",
							"type": "Expression"
						},
						"ParameterJson": {
							"value": "@{activity('LU-Metadata').output.value[0].parameter_json}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SP-DBT_TEST_FEATURE_ENGINEERING-FAIL",
				"description": "This is an audit activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EP-DBT_TEST_FEATURE_ENGINEERING",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "EP_DBT_Processing",
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].application_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].dataset_group",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FailureEmailSender",
				"description": "email sent to user",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LS_AZUREML_RECOVERY_THRESHOLDS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-21.eastus2.logic.azure.com:443/workflows/bf557cd83c3b45c5a365826555b38597/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=eAMxSb-7pJGx_Ex0OGfry6YBV-RFaKUmU5ul75ISRtg",
					"method": "POST",
					"body": {
						"value": "{\n\"to_email\": \"USERUSERUSER@kraftheinz.com\",\n\"subject\": \" Rocket International Snowflake Data Load Process Successful\",\n\"body\": \"Snowflake data load process has been completed Successfully.\\n\\nThe pipelinename is @{pipeline().Pipeline}. \\n The pipelineid is @{pipeline().RunId}. \\n The Dataset name is @{activity('LU-Metadata').output.value[0].dataset_name}. \\n The application name is @{pipeline().parameters.ApplicationName}\",\n\"importance\": \"Low\",\n\"cc_email\":\"USERUSERUSER@KraftHeinz.com\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP-Pipelinesuccesful_master_pool_with_week_check",
				"description": "This is an audit activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LS_AZUREML_RECOVERY_THRESHOLDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@activity('LU-Metadata').output.value[0].application_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{replace(pipeline().parameters.adf_trigger_name,'_trigger.txt','')}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": "Successful",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set recovery thresholds AMLS variable",
				"description": "Update variable to switch endpoint based on environment",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "EP-DBT_TEST_FEATURE_ENGINEERING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "amls_recovery_thresholds_endpoint_id",
					"value": {
						"value": "@if( equals(pipeline().globalParameters.AZURE_ENV, 'DEV'), \n'39a2e891-0f5e-49e4-a446-b558e05db724',\nif( equals(pipeline().globalParameters.AZURE_ENV, 'UAT'), \n'32c93d36-6df5-463d-a563-47832830ba94',\nif( equals(pipeline().globalParameters.AZURE_ENV, 'PROD'), \n'f9c86260-ba3f-4a2c-ba6e-4ecb76082d40',\n'ERROR'\n)\n)\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ApplicationName": {
				"type": "string",
				"defaultValue": "digital_supply_chain_responsiveness"
			},
			"adf_trigger_name": {
				"type": "string",
				"defaultValue": "digital_supply"
			},
			"dataset_group": {
				"type": "string",
				"defaultValue": "digital_supply"
			}
		},
		"variables": {
			"exit": {
				"type": "String",
				"defaultValue": "N"
			},
			"adf_trigger_name": {
				"type": "String"
			},
			"amls_recovery_thresholds_endpoint_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Digital_Supply_Chain_Responsiveness"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}