azure_data_factory/pipeline/PL_KHCDE_CEREBRUM_APAC_ANZ_MAINPAC_CONTROL.json
{
	"name": "PL_KHCDE_CEREBRUM_APAC_ANZ_MAINPAC_CONTROL",
	"properties": {
		"description": "This pipeline will check control table and evaluate if table is ready for extraction",
		"activities": [
			{
				"name": "Until-FetchControlValue",
				"description": "This activity fetches control value from Mainpac  extract control table",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SP-PipelineStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('exit_ind'),'Y')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LU_APAC_ANZ_EXTRACT_CONTROL",
							"description": "Lookup activity from mainpac Control table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[SYS_CheckControl]",
									"storedProcedureParameters": {
										"TableName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.dataset_name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_KHCDE_APAC_ANZ_MAINPAC_DF_SQL",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": "SF_ExtractControlT"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "If Condition - EvaluateControlValue",
							"description": "Evaluating control value ",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set_Control_value",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(equals(activity('LU_APAC_ANZ_EXTRACT_CONTROL').output.value[0].status,0),equals(variables('retry_count'),'25'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait-For_Retry",
										"description": "600 seconds waiting time for resetting control value.",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": {
												"value": "@int(300)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_retry_count",
										"description": "Resetting control value",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Wait-For_Retry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "retry_count",
											"value": {
												"value": "@{add(int(variables('retry_count_temp')), 1)}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set_retry_temp",
										"description": "setting temporary value ",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_retry_count",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "retry_count_temp",
											"value": {
												"value": "@variables('retry_count')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set_ext_ind_True_Y",
										"description": "Setting value as Y ",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "exit_ind",
											"value": "Y"
										}
									}
								]
							}
						},
						{
							"name": "Set_Control_value",
							"description": "Setting control value",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LU_APAC_ANZ_EXTRACT_CONTROL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "contrl_value",
								"value": {
									"value": "@{activity('LU_APAC_ANZ_EXTRACT_CONTROL').output.value[0].Status}",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "If Condition-DataExtraction",
				"description": "This activity validates the data extraction  and will copy data from SQL to blob",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until-FetchControlValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('contrl_value'),'0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Audit_Log_Data_Extraction_Failure_CT",
							"description": "This activity logs activity failure status to audit table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"action_ind": {
										"value": "U",
										"type": "String"
									},
									"activity_name": {
										"value": "Data_Extraction_SQL_to_BLOB",
										"type": "String"
									},
									"activity_status": {
										"value": "Failed",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": "1002",
										"type": "String"
									},
									"error_detail": {
										"value": "Data not available as per the JDA control table - APAC_EXTRACT_CONTROL",
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_status": {
										"value": "Failed",
										"type": "String"
									},
									"skip_pipeline_audit_update": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SP-Data_Extraction_Success",
							"description": "This activity logs activity success status to audit table ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data from SQL to blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_audit_log]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": "Copy Data from SQL to blob",
										"type": "String"
									},
									"activity_status": {
										"value": "Successful",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP-log_Data_Extraction_Failure",
							"description": "This activity logs activity failure status to audit table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data from SQL to blob",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"action_ind": {
										"value": "U",
										"type": "String"
									},
									"activity_name": {
										"value": "Copy Data from Oracle to blob",
										"type": "String"
									},
									"activity_status": {
										"value": "Failed",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": "1001",
										"type": "String"
									},
									"error_detail": {
										"value": "Data_Extraction_JDA_to_BLOB Failed",
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_status": {
										"value": "Failed",
										"type": "String"
									},
									"skip_pipeline_audit_update": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data from SQL to blob",
							"description": "The data to be extracted from SQL Server to BLOB file server for  Mainpac ANZ dataset  ",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Stored procedure for updating status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@pipeline().parameters.extraction_query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_KHCDE_APAC_ANZ_MAINPAC_DF_SQL",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_KHCDE_APAC_ANZ_MAINPAC_SQL_TO_BLOB",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": {
											"value": "@{concat(pipeline().parameters.dataset_name,'.txt')}",
											"type": "Expression"
										},
										"cw_containerName": {
											"value": "khc-enterprise-data",
											"type": "Expression"
										},
										"cw_filePath": {
											"value": "@concat('master_data/master_data_management/anz/stage/',pipeline().parameters.dataset_name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure for updating status",
							"description": "Stored procedure for updating status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SYS_UpdateStatus]",
								"storedProcedureParameters": {
									"Status": {
										"value": "1",
										"type": "Byte"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_ANZ_MAINTENANCE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure set status",
							"description": "Stored procedure for updating status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP-Data_Extraction_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SYS_UpdateStatus]",
								"storedProcedureParameters": {
									"Status": {
										"value": "0",
										"type": "Byte"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_ANZ_MAINTENANCE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure set status failure",
							"description": "Stored procedure for updating status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP-log_Data_Extraction_Failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SYS_UpdateStatus]",
								"storedProcedureParameters": {
									"Status": {
										"value": "2",
										"type": "Byte"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_ANZ_MAINTENANCE",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Email Data Extraction Issue",
							"description": "data failure email to user",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Stored procedure set status failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@pipeline().globalParameters.la_khcde_generic_email_url",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{ \n        \"to_email\": \"@{if(equals(pipeline().globalParameters.AZURE_ENV,'PROD'),'DL_APAC_MiddlewareNotifications@kraftheinz.com;bfc2b500.Heinz365.onmicrosoft.com@amer.teams.ms','manpreet.kaur@kraftHeinz.com')}\", \n        \"subject\": \"@{pipeline().parameters.ApplicationName} Mainpac Data extraction fail\", \n        \"body\": \"Dear All,<br><br>There is an ANZ Data Extraction issue for the Application: <b>@{pipeline().parameters.ApplicationName} </b> <br> of Mainpac table : <b>\n@{pipeline().parameters.dataset_name}</b><br>\nRegards,<br>Cloud Analytics Team\", \n        \"importance\": \"High\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SP-Set status success",
							"description": "This activity logs activity success status to audit table ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure set status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_audit_log]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": "Stored Procedure set status",
										"type": "String"
									},
									"activity_status": {
										"value": "Successful",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP-set status failure",
							"description": "This activity logs activity failure status to audit table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure set status",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"action_ind": {
										"value": "U",
										"type": "String"
									},
									"activity_name": {
										"value": "Stored procedure set status",
										"type": "String"
									},
									"activity_status": {
										"value": "Failed",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": "1001",
										"type": "String"
									},
									"error_detail": {
										"value": "Status_set Failed",
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_status": {
										"value": "Failed",
										"type": "String"
									},
									"skip_pipeline_audit_update": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP-Stored procedure status set success",
							"description": "This activity logs activity success status to audit table ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure set status failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_audit_log]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": "Stored Procedure set status",
										"type": "String"
									},
									"activity_status": {
										"value": "Successful",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP-Stored procedure status set failure",
							"description": "This activity logs activity failure status to audit table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure set status failure",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"action_ind": {
										"value": "U",
										"type": "String"
									},
									"activity_name": {
										"value": "Stored procedure set status",
										"type": "String"
									},
									"activity_status": {
										"value": "Failed",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": "1001",
										"type": "String"
									},
									"error_detail": {
										"value": "Status_set Failed",
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_status": {
										"value": "Failed",
										"type": "String"
									},
									"skip_pipeline_audit_update": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP-Stored procedure for updating status success",
							"description": "This activity logs activity success status to audit table ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure for updating status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_audit_log]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": "Stored procedure for updating status",
										"type": "String"
									},
									"activity_status": {
										"value": "Successful",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP-Stored procedure for updating status failure",
							"description": "This activity logs activity failure status to audit table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure for updating status",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"action_ind": {
										"value": "U",
										"type": "String"
									},
									"activity_name": {
										"value": "Stored procedure for updating status",
										"type": "String"
									},
									"activity_status": {
										"value": "Failed",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": "1001",
										"type": "String"
									},
									"error_detail": {
										"value": "Status_set Failed",
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_status": {
										"value": "Failed",
										"type": "String"
									},
									"skip_pipeline_audit_update": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SP-Until-FetchControlValue_Successful",
				"description": "This activity logs activity success status to audit table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Until-FetchControlValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "Untill_Files_Found",
							"type": "String"
						},
						"activity_status": {
							"value": "Successful",
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-Until-FetchControlValue_Failed",
				"description": "This activity logs activity failure status to audit table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Until-FetchControlValue",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "Untill_Files_Found",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "Incomplete files received.",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-PipelineStart",
				"description": "Insert pipeline start Audit entry into khc_audit_log table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": {
								"value": "I",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Processing",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-PipelineEnd",
				"description": "Update the Audit entry for the pipeline  run id to success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition-DataExtraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": {
								"value": "U",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-If Condition-DataExtraction_Successful",
				"description": "This activity logs activity success status to audit table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition-DataExtraction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "If Condition-DataExtraction",
							"type": "String"
						},
						"activity_status": {
							"value": "Successful",
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-If Condition-DataExtraction_Failed",
				"description": "This activity logs activity failure status to audit table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition-DataExtraction",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "If Condition-DataExtraction",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "N.A.",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "Incomplete files received.",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Condition-Data IssueMail",
				"description": "Condition to send email if count is greater than 25",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until-FetchControlValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('retry_count'),'25')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Audit_Log_Data_Extraction_Failure",
							"description": "This activity logs activity failure status to audit table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"action_ind": {
										"value": "U",
										"type": "String"
									},
									"activity_name": {
										"value": "Data_Extraction_SQL_to_BLOB_Count_25",
										"type": "String"
									},
									"activity_status": {
										"value": "Failed",
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": "1002",
										"type": "String"
									},
									"error_detail": {
										"value": "Data not available as per the JDA control table - APAC_EXTRACT_CONTROL",
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_status": {
										"value": "Successful",
										"type": "String"
									},
									"skip_pipeline_audit_update": {
										"value": {
											"value": "N",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send data failure email",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@pipeline().globalParameters.la_khcde_generic_email_url",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{ \n        \"to_email\": \"@{if(equals(pipeline().globalParameters.AZURE_ENV,'PROD'),'DL_APAC_MiddlewareNotifications@kraftheinz.com;bfc2b500.Heinz365.onmicrosoft.com@amer.teams.ms','manpreet.kaur@kraftHeinz.com')}\", \n        \"subject\": \"@{pipeline().parameters.ApplicationName} Mainpac Demand -Failure:: Count exceeded the limit of 25\", \n        \"body\": \"Dear All,<br><br>The  ANZ Data is not ready for the Application: <b>@{pipeline().parameters.ApplicationName} </b> <br> of Mainpac table : <b>\n@{pipeline().parameters.dataset_name}</b><br>\nRegards,<br>Cloud Analytics Team\", \n        \"importance\": \"High\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dataset_name": {
				"type": "string"
			},
			"parent_id": {
				"type": "string"
			},
			"dataset_group": {
				"type": "string"
			},
			"ApplicationName": {
				"type": "string"
			},
			"extraction_query": {
				"type": "string"
			}
		},
		"variables": {
			"exit_ind": {
				"type": "String",
				"defaultValue": "N"
			},
			"retry_count": {
				"type": "String",
				"defaultValue": "0"
			},
			"retry_count_temp": {
				"type": "String",
				"defaultValue": "0"
			},
			"contrl_value": {
				"type": "String",
				"defaultValue": "N"
			}
		},
		"folder": {
			"name": "Cerebrum_Anz_Maintenance"
		},
		"annotations": []
	}
}