azure_data_factory/pipeline/PL_KHCDE_ICR_HANA_EXTRACT_LOAD.json
{
	"name": "PL_KHCDE_ICR_HANA_EXTRACT_LOAD",
	"properties": {
		"description": "SAP HANA - Inventory Cost Recovery",
		"activities": [
			{
				"name": "CP_ICR_MASTER_DATA",
				"description": "Item Master - Extract",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Audit_PipelineStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapHanaSource",
						"query": {
							"value": "select replace(MATERIAL_TEXT,'\"','') as MATERIAL_TEXT,MATERIAL_14,ABU_ID,ABU_DESC,CATEGORY_ID,CATEGORY_DESC,PRODUCT_FAMILY_ID,\nPRODUCT_FAMILY_DESC,X_DIST_CHAIN_STATUS,BRACKET_CURRENCY,BRACKET_PRICE,replace(SHELF,'\"','') as SHELF,DC_TO_CUST_WHSE,\n IT_FF_DESCRIPTION,ITEM_FRESH_FRZN_CD,ITM_BSE_CD,NET_WT_CSE_QTY,BASE_UOM,CUBE_ADJUSTED_WT,NIC,\n SAP_MATERIAL_TYPE,to_char(current_timestamp,'yyyy-mm-dd hh24:mi:ss') as \"data_extract_date\"\n from\n\"_SYS_BIC\".\"kraft.SCM.Logistics_Reporting/CV_PRODUCT_MASTER_CERT\"",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MATERIAL_TEXT",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL_TEXT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MATERIAL_14",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL_14",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ABU_ID",
									"type": "String"
								},
								"sink": {
									"name": "ABU_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ABU_DESC",
									"type": "String"
								},
								"sink": {
									"name": "ABU_DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CATEGORY_ID",
									"type": "String"
								},
								"sink": {
									"name": "CATEGORY_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CATEGORY_DESC",
									"type": "String"
								},
								"sink": {
									"name": "CATEGORY_DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRODUCT_FAMILY_ID",
									"type": "String"
								},
								"sink": {
									"name": "PRODUCT_FAMILY_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRODUCT_FAMILY_DESC",
									"type": "String"
								},
								"sink": {
									"name": "PRODUCT_FAMILY_DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "X_DIST_CHAIN_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "X_DIST_CHAIN_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BRACKET_CURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "BRACKET_CURRENCY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BRACKET_PRICE",
									"type": "Decimal"
								},
								"sink": {
									"name": "BRACKET_PRICE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "SHELF",
									"type": "Decimal"
								},
								"sink": {
									"name": "SHELF",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "DC_TO_CUST_WHSE",
									"type": "Decimal"
								},
								"sink": {
									"name": "DC_TO_CUST_WHSE",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "IT_FF_DESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "IT_FF_DESCRIPTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ITEM_FRESH_FRZN_CD",
									"type": "String"
								},
								"sink": {
									"name": "ITEM_FRESH_FRZN_CD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ITM_BSE_CD",
									"type": "String"
								},
								"sink": {
									"name": "ITM_BSE_CD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NET_WT_CSE_QTY",
									"type": "Decimal"
								},
								"sink": {
									"name": "NET_WT_CSE_QTY",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "BASE_UOM",
									"type": "String"
								},
								"sink": {
									"name": "BASE_UOM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CUBE_ADJUSTED_WT",
									"type": "Decimal"
								},
								"sink": {
									"name": "CUBE_ADJUSTED_WT",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "NIC",
									"type": "Decimal"
								},
								"sink": {
									"name": "NIC",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "SAP_MATERIAL_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "SAP_MATERIAL_TYPE",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_KHCDE_ICR_SAP_HANA_DATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_KHCDE_ICR_MASTER_DATA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CP_ICR_WASTE_DATA",
				"description": "Waste Delta - Extract",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If_folder_exists_then_delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapHanaSource",
						"query": {
							"value": "select MATERIAL_14,SOLD_TO_CUSTOMER,CUSTOMER_NAME,CUSTOMER_ZIP,CUSTOMER_LEVEL_05,IBL_KEY,IBL_DESCRIPTION,\nIBL_ZIP,CASES_SHIPPED,WASTE_TYPE_DESC,BILL_DATE,CODE_DATE_TYPE,CODE_DATE,SHELFLIFE_REMAIN,COST,\nWASTE_IN_DOLLAR,GROSS_REVENUE,NET_LBS_SHIPPED,to_char(CURRENT_TIMESTAMP,'yyyy-mm-dd hh24:mi:ss') as \"DATA_EXTRACT_DATE\"\nfrom \"_SYS_BIC\".\"kraft.SCM.Logistics_Reporting/CV_WASTE_EXTRACTION_CERT\"\nwhere  BILL_DATE < (select distinct CALENDER_DATE from \"_SYS_BIC\".\"kraft.RTR.GDSR/CV_GDSR_FISC_CALENDAR\" \nwhere CALENDER_DATE = TO_VARCHAR (current_date, 'YYYYMMDD'))\nand  BILL_DATE >= (select distinct CALENDER_DATE from \"_SYS_BIC\".\"kraft.RTR.GDSR/CV_GDSR_FISC_CALENDAR\" \nwhere CALENDER_DATE = add_days(TO_VARCHAR (current_date, 'YYYYMMDD'),-7))",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MATERIAL_14",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL_14",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SOLD_TO_CUSTOMER",
									"type": "String"
								},
								"sink": {
									"name": "SOLD_TO_CUSTOMER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_NAME",
									"type": "String"
								},
								"sink": {
									"name": "CUSTOMER_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_ZIP",
									"type": "String"
								},
								"sink": {
									"name": "CUSTOMER_ZIP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_LEVEL_05",
									"type": "String"
								},
								"sink": {
									"name": "CUSTOMER_LEVEL_05",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IBL_KEY",
									"type": "String"
								},
								"sink": {
									"name": "IBL_KEY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IBL_DESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "IBL_DESCRIPTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IBL_ZIP",
									"type": "String"
								},
								"sink": {
									"name": "IBL_ZIP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CASES_SHIPPED",
									"type": "Decimal"
								},
								"sink": {
									"name": "CASES_SHIPPED",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "WASTE_TYPE_DESC",
									"type": "String"
								},
								"sink": {
									"name": "WASTE_TYPE_DESC",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BILL_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "BILL_DATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CODE_DATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "CODE_DATE_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CODE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CODE_DATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SHELFLIFE_REMAIN",
									"type": "String"
								},
								"sink": {
									"name": "SHELFLIFE_REMAIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "COST",
									"type": "Int32"
								},
								"sink": {
									"name": "COST",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "WASTE_IN_DOLLAR",
									"type": "Decimal"
								},
								"sink": {
									"name": "WASTE_IN_DOLLAR",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "GROSS_REVENUE",
									"type": "Int32"
								},
								"sink": {
									"name": "GROSS_REVENUE",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "NET_LBS_SHIPPED",
									"type": "Decimal"
								},
								"sink": {
									"name": "NET_LBS_SHIPPED",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "DATA_EXTRACT_DATE",
									"type": "String"
								},
								"sink": {
									"name": "DATA_EXTRACT_DATE",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_KHCDE_ICR_SAP_HANA_DATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_KHCDE_ICR_WASTE_DATA",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Audit_PipelineStart",
				"description": "Insert pipeline start Audit entry into khc_audit_log table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": {
								"value": "I",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Processing",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Audit_PipelineEnd",
				"description": "update the Audit entry for the pipeline  run id to success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_MASTER_DATA_ARCHIVE",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CP_ICR_PIL_ARCHIVE",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CP_ICR_WASTE_DATA_ARCHIVE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": {
								"value": "U",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CP_ICR_PIL",
				"description": "PIL Data - Extract",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Audit_PipelineStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapHanaSource",
						"query": {
							"value": "select MATERIAL_14,LOCATION,CODE_DATE,CODE_DATE_TYPE,AGE_STATUS,INVENTORY_DISPOSITION_CODE,\nONHAND_INV,UNSOLD_QTY,CUSTOMER_GUARANTEE,DAYS_TO_CUSTOMER_GUARANTEE as \"DAYS_TO_CG\",DAYS_TO_EXPIRATION,EXPIRATION_DATE,\nto_char(CURRENT_TIMESTAMP,'yyyy-mm-dd hh24:mi:ss') as \"DATA_EXTRACT_DATE\"\nfrom \"_SYS_BIC\".\"kraft.SCM.Logistics_Reporting/CV_PROJINVLOSS_EXTRACTION_CERT\"",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MATERIAL_14",
									"type": "String"
								},
								"sink": {
									"name": "MATERIAL_14",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LOCATION",
									"type": "String"
								},
								"sink": {
									"name": "LOCATION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CODE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CODE_DATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "CODE_DATE_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "CODE_DATE_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AGE_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "AGE_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "INVENTORY_DISPOSITION_CODE",
									"type": "String"
								},
								"sink": {
									"name": "INVENTORY_DISPOSITION_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ONHAND_INV",
									"type": "Int32"
								},
								"sink": {
									"name": "ONHAND_INV",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "UNSOLD_QTY",
									"type": "Int32"
								},
								"sink": {
									"name": "UNSOLD_QTY",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CUSTOMER_GUARANTEE",
									"type": "DateTime"
								},
								"sink": {
									"name": "CUSTOMER_GUARANTEE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DAYS_TO_CG",
									"type": "Int32"
								},
								"sink": {
									"name": "DAYS_TO_CG",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "DAYS_TO_EXPIRATION",
									"type": "Int32"
								},
								"sink": {
									"name": "DAYS_TO_EXPIRATION",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "EXPIRATION_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "EXPIRATION_DATE",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DATA_EXTRACT_DATE",
									"type": "String"
								},
								"sink": {
									"name": "DATA_EXTRACT_DATE",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_KHCDE_ICR_SAP_HANA_DATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_KHCDE_ICR_PIL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "AuditDetail_Item_Master_Copy_Failed",
				"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_MASTER_DATA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "CP_ICR_MASTER_DATA",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{pipeline().parameters.DatasetGroup}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Failed ",
								"type": "Expression"
							},
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('CP_ICR_MASTER_DATA').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@activity('CP_ICR_MASTER_DATA').Error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Pil_Copy_Failed",
				"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_PIL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "CP_ICR_PIL",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{pipeline().parameters.DatasetGroup}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Failed ",
								"type": "Expression"
							},
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('CP_ICR_PIL').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@activity('CP_ICR_PIL').Error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Waste_Data_Copy_Failed",
				"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_WASTE_DATA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "CP_ICR_WASTE_DATA",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{pipeline().parameters.DatasetGroup}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Failed ",
								"type": "Expression"
							},
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('CP_ICR_WASTE_DATA').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@activity('CP_ICR_WASTE_DATA').Error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Item_Master_Archive_Failed",
				"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_MASTER_DATA_ARCHIVE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "CP_ICR_MASTER_DATA_ARCHIVE",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{pipeline().parameters.DatasetGroup}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Failed ",
								"type": "Expression"
							},
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('CP_ICR_MASTER_DATA_ARCHIVE').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@activity('CP_ICR_MASTER_DATA_ARCHIVE').Error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Pil_Archive_Failed",
				"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_PIL_ARCHIVE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "CP_ICR_PIL_ARCHIVE",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{pipeline().parameters.DatasetGroup}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Failed ",
								"type": "Expression"
							},
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('CP_ICR_PIL_ARCHIVE').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@activity('CP_ICR_PIL_ARCHIVE').Error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Waste_Data_Archive_Failed",
				"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_WASTE_DATA_ARCHIVE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "CP_ICR_WASTE_DATA_ARCHIVE",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.ApplicationName",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@{pipeline().parameters.DatasetGroup}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Failed ",
								"type": "Expression"
							},
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('CP_ICR_WASTE_DATA_ARCHIVE').Error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@activity('CP_ICR_WASTE_DATA_ARCHIVE').Error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CP_ICR_MASTER_DATA_ARCHIVE",
				"description": "Item Master - Extract archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_ICR_MASTER_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_KHCDE_ICR_MASTER_DATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_KHCDE_ICR_HANA_ARCHIVE",
						"type": "DatasetReference",
						"parameters": {
							"container": "khc-enterprise-data",
							"path": {
								"value": "@replace('logistics/supply_chain/inventory_cost_recovery/archive/yyyyMMdd/Master_data','yyyyMMdd',formatDateTime(utcnow(),'yyyyMMdd'))\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CP_ICR_PIL_ARCHIVE",
				"description": "Item Master - Extract archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_ICR_PIL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_KHCDE_ICR_PIL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_KHCDE_ICR_HANA_ARCHIVE",
						"type": "DatasetReference",
						"parameters": {
							"container": "khc-enterprise-data",
							"path": {
								"value": "@replace('logistics/supply_chain/inventory_cost_recovery/archive/yyyyMMdd/Pil_data','yyyyMMdd',formatDateTime(utcnow(),'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CP_ICR_WASTE_DATA_ARCHIVE",
				"description": "Item Master - Extract archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_ICR_WASTE_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_KHCDE_ICR_WASTE_DATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_KHCDE_ICR_HANA_ARCHIVE",
						"type": "DatasetReference",
						"parameters": {
							"container": "khc-enterprise-data",
							"path": {
								"value": "@replace('logistics/supply_chain/inventory_cost_recovery/archive/yyyyMMdd/Waste_data','yyyyMMdd',formatDateTime(utcnow(),'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "AuditDetail_Item_Master_Copy_Success",
				"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_MASTER_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "CP_ICR_MASTER_DATA",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@{pipeline().parameters.ApplicationName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Waste_Data_Copy_Success",
				"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_WASTE_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "CP_ICR_WASTE_DATA",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@{pipeline().parameters.ApplicationName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Pil_Copy_Success",
				"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_PIL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "CP_ICR_PIL",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@{pipeline().parameters.ApplicationName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Item_Master_Archive_Success",
				"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_MASTER_DATA_ARCHIVE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "CP_ICR_MASTER_DATA_ARCHIVE",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@{pipeline().parameters.ApplicationName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Waste_Data_Archive_Success_copy1",
				"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_WASTE_DATA_ARCHIVE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "CP_ICR_WASTE_DATA_ARCHIVE",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@{pipeline().parameters.ApplicationName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AuditDetail_Pil_Archive_Success",
				"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_ICR_PIL_ARCHIVE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "CP_ICR_PIL_ARCHIVE",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@{pipeline().parameters.ApplicationName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.DatasetGroup",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_Metadata_if_Folder_exists",
				"description": "Get metadata details if stage folder exists.",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Audit_PipelineStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_KHCDE_ICR_HANA_ARCHIVE",
						"type": "DatasetReference",
						"parameters": {
							"container": "khc-enterprise-data",
							"path": {
								"value": "logistics/supply_chain/inventory_cost_recovery/stage/t_inv_waste",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If_folder_exists_then_delete",
				"description": "Checking if stage folder is exists .If It is exists then delete otherwise do not do anything.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Metadata_if_Folder_exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get_Metadata_if_Folder_exists').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DELETE_FILES_FROM_WASTE_RAW",
							"description": "Delete files from Blob Location Before Importing new files",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_KHCDE_ICR_HANA_ARCHIVE",
									"type": "DatasetReference",
									"parameters": {
										"container": "khc-enterprise-data",
										"path": {
											"value": "logistics/supply_chain/inventory_cost_recovery/stage/t_inv_waste",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*.csv"
								}
							}
						},
						{
							"name": "AuditDetail_Waste_Data_Delete_Failed",
							"description": "Insert pipeline activity with status=Failed to the khc_audit_log_detail table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DELETE_FILES_FROM_WASTE_RAW",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": {
											"value": "DELETE_FILES_FROM_WASTE_RAW",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_status": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@pipeline().parameters.ApplicationName",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "N.A.",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_code": {
										"value": {
											"value": "N.A.",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_detail": {
										"value": {
											"value": "N.A.",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "AuditDetail_Waste_Data_Delete_Success",
							"description": "Insert pipeline activity with status= success to the khc_audit_log_detail table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DELETE_FILES_FROM_WASTE_RAW",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[generic_activity_audit_log]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": {
											"value": "DELETE_FILES_FROM_WASTE_RAW",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_status": {
										"value": {
											"value": "Successful",
											"type": "Expression"
										},
										"type": "String"
									},
									"application_name": {
										"value": {
											"value": "@{pipeline().parameters.ApplicationName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataset_name": {
										"value": {
											"value": "@pipeline().parameters.DatasetGroup",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ApplicationName": {
				"type": "string",
				"defaultValue": "inventory_cost_recovery"
			},
			"DatasetGroup": {
				"type": "string",
				"defaultValue": "ICR"
			}
		},
		"folder": {
			"name": "Inventory_Cost_Recovery/sub_pipelines"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}