azure_data_factory/pipeline/PL_KHCDE_SUB_APAC_ORACLE_EXTRACT.json
{
	"name": "PL_KHCDE_SUB_APAC_ORACLE_EXTRACT",
	"properties": {
		"description": "To extract the data from Oracle database",
		"activities": [
			{
				"name": "LU-ORC_Metadata",
				"description": "This LU Metadata activity fetches required details for data extraction from orchestration and dataengg_extract table ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP-PipelineStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select\n    om.application_name,\n    om.dataset_name,\n    ctrl.table_name,\n    om.server_name,\n    om.server_path as source_object_type,\n    om.filename as dso_changelog_table,\n    om.data_filename,\n    om.container_name,\n    om.archival_blob_name,\n    om.stage_blob_name,\n    om.blob_trigger_name,\n    om.data_level,\n    om.active_ind,\n    om.parent_id,\n    ctrl.dynamic_partition_ind,\n    ctrl.partition_column,\n    ctrl.incr_column_name,\n    ctrl.last_incr_value,\n    case\n      when server_name = 'LS_APAC_INDO_ORCL' then 'khcde-kv-sec-indo-seabpp-khsnflk-oracle-conn-string'\n      when server_name = 'LS_APAC_DWH_ORCL' then 'khcde-kv-sec-indo-seabpp-dwh-oracle-conn-string'\n      when server_name = 'LS_APAC_LCA_ORCL' then 'khcde-kv-sec-indo-seabpp-khsnflk-lca-oracle-conn-string'\n      when server_name = 'LS_TPM_DEMANTRA_ORCL' then 'khcde-kv-sec-tpm-demantra-oracle-conn-string'\n     when server_name = 'LS_APAC_ANZ_ORCL' then 'khcde-kv-sec-demantra-oracle-conn-string'\n  when server_name = 'LS_APAC_ANZ_JDA_ORACLE' then 'khcde-kv-sec-apac-anz-oracle-conn-string'\nEND AS key_vault_secret_name\nfrom dbo.khc_orchestration_metadata om inner join\n( Select\n    parent_id,\n    table_name,\n    dynamic_partition_ind,\n    partition_column,\n    where_clause,\n    incr_column_name,\n    last_incr_value\nfrom dbo.khc_data_extract_control_table\n) ctrl\non om.parent_id = ctrl.parent_id\nwhere len(trim(om.server_name)) > 0\n    and om.application_name in ('@{pipeline().parameters.application_name}')\n  and om.adf_trigger_name in ('@{pipeline().parameters.adf_trigger_name}')\n  and om.server_name IN ('LS_APAC_INDO_ORCL','LS_APAC_DWH_ORCL','LS_APAC_LCA_ORCL','LS_TPM_DEMANTRA_ORCL','LS_APAC_ANZ_ORCL','LS_APAC_ANZ_JDA_ORACLE')\n  and om.data_level=2 and om.active_ind='y'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_KHCDE_GENERIC_MSSQL_Metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach-ORC_Inp",
				"description": "For each entry in metadata performs data extraction from relevant databases",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LU-ORC_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LU-ORC_Metadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Switch",
							"description": "This is switch activity which performs Oracle extraction based on server name",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@{activity('LU-ORC_Metadata').output.value[0].server_name}",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "LS_TPM_DEMANTRA_ORCL",
										"activities": [
											{
												"name": "SP-PipelineStart_Extract03",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "I",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Processing",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP-PipelineEnd_Extract_Failed03",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_ORACLE_Demantra_copy1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "U",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Failed",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP-PipelineEnd_Extract03",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_ORACLE_Demantra_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "U",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Successful",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy_ORACLE_Demantra_copy1",
												"description": "Data extraction from Oracle database system and copying extracted files to specified blob location",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Demantra_Server_Check",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "@{item().table_name} WHERE ?AdfRangePartitionColumnName <= ?AdfRangePartitionUpbound AND ?AdfRangePartitionColumnName >= ?AdfRangePartitionLowbound",
															"type": "Expression"
														},
														"partitionOption": "DynamicRange",
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{split(item().partition_column,'|')[0]}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{split(item().partition_column,'|')[1]}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{split(item().partition_column,'|')[2]}",
																"type": "Expression"
															}
														},
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_ORC",
														"type": "DatasetReference",
														"parameters": {
															"KeyVaultSecretName": {
																"value": "@{item().key_vault_secret_name}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_BLOB",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@{concat(item().data_filename,'.csv')}",
																"type": "Expression"
															},
															"cw_containerName": {
																"value": "@{item().container_name}",
																"type": "Expression"
															},
															"cw_filePath": {
																"value": "@{item().stage_blob_name}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Demantra_Server_Check",
												"description": "Its wrapper pipeline which is for server check.",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "SP-PipelineStart_Extract03",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_KHCDE_SUB_APAC_DEMANTRA_DF_ORCL_EXTRACT",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"application_name": {
															"value": "@pipeline().parameters.application_name",
															"type": "Expression"
														},
														"adf_trigger_name": {
															"value": "@pipeline().parameters.adf_trigger_name",
															"type": "Expression"
														},
														"key_vault_secret_name": {
															"value": "@{item().key_vault_secret_name}",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Demantra Extraction Success",
												"description": "set LAST_PROCESSED_DATE = CURRENT_TIMESTAMP",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Copy_ORACLE_Demantra_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": "select 1 as a from snow.bieo_aus_nz_dem_tpm_rep where 1=2",
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "OracleSink",
														"writeBatchSize": 10000,
														"preCopyScript": "update snow.bieo_aus_nz_dem_tpm_rep set LAST_PROCESSED_DATE = SYSDATE"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_ORC",
														"type": "DatasetReference",
														"parameters": {
															"KeyVaultSecretName": {
																"value": "@{item().key_vault_secret_name}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_KHCDE_DEMANTRA_ORC",
														"type": "DatasetReference",
														"parameters": {
															"KeyVaultSecretName": {
																"value": "@{item().key_vault_secret_name}",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "LS_APAC_ANZ_ORCL",
										"activities": [
											{
												"name": "SP-PipelineStart_Extract04",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "I",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Processing",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP-PipelineEnd_Extract_Failed04",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_ORACLE_Demantra_data",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "U",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Failed",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP-PipelineEnd_Extract04",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_ORACLE_Demantra_data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "U",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Successful",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy_ORACLE_Demantra_data",
												"description": "Data extraction from Oracle database system and copying extracted files to specified blob location",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "EP-UNTILBPCSTRIGGER_CHECK",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "@{item().table_name} WHERE ?AdfRangePartitionColumnName <= ?AdfRangePartitionUpbound AND ?AdfRangePartitionColumnName >= ?AdfRangePartitionLowbound",
															"type": "Expression"
														},
														"partitionOption": "DynamicRange",
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{split(item().partition_column,',')[0]}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{split(item().partition_column,',')[1]}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{split(item().partition_column,',')[2]}",
																"type": "Expression"
															}
														},
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_ORC",
														"type": "DatasetReference",
														"parameters": {
															"KeyVaultSecretName": {
																"value": "@{item().key_vault_secret_name}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_BLOB",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@{concat(item().data_filename,'.csv')}",
																"type": "Expression"
															},
															"cw_containerName": {
																"value": "@{item().container_name}",
																"type": "Expression"
															},
															"cw_filePath": {
																"value": "@{item().stage_blob_name}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "EP-UNTILBPCSTRIGGER_CHECK",
												"description": "Its wrapper pipeline which is for server check.",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "SP-PipelineStart_Extract04",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_KHCDE_SUB_ANZ_UNTIL_CHECK",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "LS_APAC_ANZ_JDA_ORACLE",
										"activities": [
											{
												"name": "SP-PipelineStart_Extract05",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "I",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Processing",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP-PipelineEnd_Extract_Failed05",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "EP-JDAControlTable",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "U",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Failed",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SP-PipelineEnd_Extract05",
												"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "EP-JDAControlTable",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 5,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
													"storedProcedureParameters": {
														"action_ind": {
															"value": {
																"value": "U",
																"type": "Expression"
															},
															"type": "String"
														},
														"application_name": {
															"value": {
																"value": "@{item().application_name}",
																"type": "Expression"
															},
															"type": "String"
														},
														"dataset_name": {
															"value": {
																"value": "@{item().data_filename}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_run_id": {
															"value": {
																"value": "@{pipeline().RunId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_status": {
															"value": {
																"value": "Successful",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_SQL",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "EP-JDAControlTable",
												"description": "Its wrapper pipeline which is for Oracle Table status",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "SP-PipelineStart_Extract05",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_KHCDE_APAC_ANZ_JDA_CONTRL",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Table_name": {
															"value": "@{item().dataset_name}",
															"type": "Expression"
														},
														"parent_id": {
															"value": "@{item().parent_id}",
															"type": "Expression"
														},
														"Key_Vault_name": {
															"value": "@{item().key_vault_secret_name}",
															"type": "Expression"
														},
														"ds_name": {
															"value": "@{item().table_name}",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Copy_ORACLE",
										"description": "Data extraction from Oracle database system and copying extracted files to specified blob location",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "SP-PipelineStart_Extract",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 5,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@{item().table_name}",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_ORC",
												"type": "DatasetReference",
												"parameters": {
													"KeyVaultSecretName": {
														"value": "@{item().key_vault_secret_name}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_KHCDE_APAC_INDO_SEABPP_BLOB",
												"type": "DatasetReference",
												"parameters": {
													"cw_fileName": {
														"value": "@{concat(item().data_filename,'.csv')}",
														"type": "Expression"
													},
													"cw_containerName": {
														"value": "@{item().container_name}",
														"type": "Expression"
													},
													"cw_filePath": {
														"value": "@{item().stage_blob_name}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SP-PipelineStart_Extract",
										"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 5,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
											"storedProcedureParameters": {
												"action_ind": {
													"value": {
														"value": "I",
														"type": "Expression"
													},
													"type": "String"
												},
												"application_name": {
													"value": {
														"value": "@{item().application_name}",
														"type": "Expression"
													},
													"type": "String"
												},
												"dataset_name": {
													"value": {
														"value": "@{item().data_filename}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_run_id": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_status": {
													"value": {
														"value": "Processing",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP-PipelineEnd_Extract_Failed",
										"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_ORACLE",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 5,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
											"storedProcedureParameters": {
												"action_ind": {
													"value": {
														"value": "U",
														"type": "Expression"
													},
													"type": "String"
												},
												"application_name": {
													"value": {
														"value": "@{item().application_name}",
														"type": "Expression"
													},
													"type": "String"
												},
												"dataset_name": {
													"value": {
														"value": "@{item().data_filename}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_run_id": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_status": {
													"value": {
														"value": "Failed",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP-PipelineEnd_Extract",
										"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_ORACLE",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 5,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
											"storedProcedureParameters": {
												"action_ind": {
													"value": {
														"value": "U",
														"type": "Expression"
													},
													"type": "String"
												},
												"application_name": {
													"value": {
														"value": "@{item().application_name}",
														"type": "Expression"
													},
													"type": "String"
												},
												"dataset_name": {
													"value": {
														"value": "@{item().data_filename}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_run_id": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_status": {
													"value": {
														"value": "Successful",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQL",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Audit_Log_Data_Extraction_Success",
				"description": "This activity logs success of  Data Extract in khc_audit_log_detail table.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach-ORC_Inp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_audit_log]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "Data_Extraction",
							"type": "String"
						},
						"activity_status": {
							"value": {
								"value": "Successful",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.Application_Name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.adf_trigger_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Audit_Log_Data_Extraction_Failure",
				"description": "This activity logs failure of Data Extract in khc_audit_log_detail table and failure of pipeline in  khc_audit_log table.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach-ORC_Inp",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_activity_error_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": "U",
							"type": "String"
						},
						"activity_name": {
							"value": {
								"value": "Copy Extract for Oracle",
								"type": "Expression"
							},
							"type": "String"
						},
						"activity_status": {
							"value": "Failed",
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.Application_Name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.adf_trigger_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@{activity('ForEach-ORC_Inp').Error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_detail": {
							"value": {
								"value": "@{activity('ForEach-ORC_Inp').Error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": "Failed ",
							"type": "String"
						},
						"skip_pipeline_audit_update": {
							"value": "N",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-PipelineStart",
				"description": "This Activity logs starting of pipeline in khc_audit_log table.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[generic_pipeline_audit_log]",
					"storedProcedureParameters": {
						"action_ind": {
							"value": {
								"value": "I",
								"type": "Expression"
							},
							"type": "String"
						},
						"application_name": {
							"value": {
								"value": "@pipeline().parameters.application_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataset_name": {
							"value": {
								"value": "@pipeline().parameters.adf_trigger_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "Extract Pipeline Started",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"application_name": {
				"type": "string"
			},
			"adf_trigger_name": {
				"type": "string"
			}
		},
		"variables": {
			"dataset": {
				"type": "Array"
			},
			"exit_ind": {
				"type": "String",
				"defaultValue": "N"
			}
		},
		"folder": {
			"name": "Apac_Master/sub-pipeline"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}